<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">Blognote</a>
      </div>

      <div class="navbar-default pull-left">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/articles">Articles</a></li>
              <li routerLinkActive="active"><a routerLink="/authors">Authors</a></li>
              <li routerLinkActive="active"><a routerLink="/about">About</a></li>
          </ul>
      </div>

      <div class="navbar-default pull-right" *ngIf="!isAuthenticated">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
              <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
          </ul>
      </div>

      <div class="navbar-default pull-right" *ngIf="isAuthenticated">
          <ul class="nav navbar-nav">
            <li><a class="cursor-pointer" (click)="onNewArticle()">New article</a></li>
            <li routerLinkActive="active" class="dropdown" appDropdown>
              <a class="dropdown-toggle" role="button">{{user}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a routerLink="/profile">Edit profile</a></li>
              </ul>
            </li>
            <li><a (click)="signOut()" class="cursor-pointer">Sign out</a></li>
          </ul>
      </div>
  </div>
</nav>
