<div class="row">
  <span class="pull-left pointer" [routerLink]="['/authors', article.author.userId]">
    <img [src]="article.author.imageUrl"
        alt="{{article.author.name}}"
        class="img-responsive img-circle center-block">
  </span>
  <div class="pull-left align-middle">
    <h4 class="align-middle pointer" [routerLink]="['/authors', article.author.userId]">
      {{article.author.name}}<span *ngIf="article.author.description != ''"> | {{article.author.description | shorten:20}}</span>
    </h4>
    <h5>{{article.creationDate | date:'mediumDate'}}</h5>
  </div>
</div>
