<div class="col-md-12">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid">Save</button>
        <button type="button" class="btn btn-danger" (click)="navigateBack()">Cancel</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="form-group col-md-6 col-xs-offset-3 header-form-group">
        <input type="text" id="article-name" class="form-control" formControlName="name" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-10 col-xs-offset-1 header-form-group">
        <textarea id="annotation" class="form-control" formControlName="annotation" placeholder="Annotation"></textarea>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <app-author-header [article]="article"></app-author-header>
        </div>

        <div class="panel-body">
          <div class="col-md-12 blocks-array" formArrayName="blocks">
            <div class="alert alert-danger" role="alert" *ngIf="!articleForm.get('blocks').valid">
              An article must contain at least 1 block, all blocks should contain valid data.
            </div>

            <div *ngFor="let blockControl of blockControls; let i = index" [formGroupName]="i">
              <div class="row" [ngSwitch]="article.articleBlocks[i].type">

                <div class="col-md-12">
                  <div *ngSwitchCase="'text'">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="pull-left">{{i + 1}}. Text block</div>
                            <div class="pull-right">
                              <button type="button" class="btn btn-default btn-xs" (click)="onRemoveBlock(i)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="text" class="form-control block-name" formControlName="name" placeholder="Name">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <textarea rows="3" class="form-control text-content" formControlName="content" placeholder="Text"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngSwitchCase="'image'">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="pull-left">{{i + 1}}. Image block</div>
                            <div class="pull-right">
                              <button type="button" class="btn btn-default btn-xs" (click)="onRemoveBlock(i)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12 text-name">
                            <input type="text" class="form-control" formControlName="content" placeholder="Image URL">
                          </div>
                        </div>
                        <div class="row">
                          <img [src]="blockControls[i].value.content" class="center-block">
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-md-offset-3">
                            <input type="text" class="form-control text-center image-comment" formControlName="imageComment" placeholder="Image comment">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngSwitchCase="'quote'">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="pull-left">{{i + 1}}. Quote block</div>
                            <div class="pull-right">
                              <button type="button" class="btn btn-default btn-xs" (click)="onRemoveBlock(i)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12">
                            <input type="text" class="form-control" formControlName="content" placeholder="Quote" style="width: 70%; float: left;">
                            <input type="text" class="form-control" formControlName="quoteAuthor" placeholder="Quote author" style="width: 27%; float: right;">
                            <span style="width: 20px; margin: 5px 4px; float: right;">(c)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="dropup pull-right" appDropdown>
              <a class="btn btn-default dropdown-toggle" role="button">Add block <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a style="cursor: pointer;" (click)="onAddBlock('text')">Text block</a></li>
                  <li><a style="cursor: pointer;" (click)="onAddBlock('image')">Image block</a></li>
                  <li><a style="cursor: pointer;" (click)="onAddBlock('quote')">Quote block</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <app-article-footer [article]="article"></app-article-footer>
        </div>
      </div>

    </div>
  </form>
</div>
