button {
  margin: 0px 3px;
}

textarea {
  resize: none;
}

input#article-name {
  font-size: 30px;
  text-align: center;
  margin: 20px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-form-group {
  margin-bottom: 0px;
}

textarea#annotation {
  height: 60px;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 9px 12px;
  margin-bottom: -1px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.glyphicon.glyphicon-trash {
  color: red;
}

.block-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.text-content {
  text-indent: 30px;
}

.image-comment {
  margin-top: 5px;
}
