.img-responsive {
  width: 400px;
  margin-right: 30px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

input#author-name {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
