<div class="row">
  <h2 class="col-md-12 text-center">Welcome to the Blognote<span *ngIf="name">, {{name}}</span>!</h2>
</div>
<br>
<div class="row">
  <img src="assets/images/blognote_md.png" class="img-responsive center-block">
</div>
<div class="row">
  <br>
  <hr>
  <br>
</div>
<div class="row" *ngIf="!name">
  <h4 class="col-md-12 text-center">Please, <a routerLink="/login">login</a> to create your own articles, to give access to your unlimited knowledge!</h4>
  <h4 class="col-md-12 text-center">If you do not have an account you can always create it with <a routerLink="/register">registration</a>.</h4>
</div>
