<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <app-author-header [article]="article"></app-author-header>
  </div>

  <div class="panel-body pointer"
    [routerLink]="article.id">
    <div class="row">
      <div class="col-md-12">
        <h4>{{article.name}}</h4>
        <hr>
        <p>{{article.annotation | shorten:300}}</p>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        Statistics: {{article.articleBlocks.length}} blocks of which {{getBlocksCount(1)}} picture(-s), {{getBlocksCount(2)}} quote(-s)
      </div>
    </div>
  </div>
</div>
